.jumbotron {
    background-image:url("http://127.0.0.1:8000/static/img/mainHeader.jpg");
    background-position: center;
    height: 500px;
    background-size: cover;

    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}
