{% load static %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark" id="myNav">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img style="height: 30px;" src="{% static "img/logo.png" %}" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                {% for link, name in nav %}
                <li class="nav-item">
                    <a class="nav-link" href="{{link}}">{{name}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>