{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ini About Boys</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <img id="banner" src="{% static "img/banner_about.png" %}" alt=""> {% comment "" %} pemanggilan gambar secara manual{% endcomment %}
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>
    <h1>Ini Adalah About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit consequatur iusto atque corrupti suscipit deleniti quaerat consequuntur, aut ducimus ipsa temporibus ut sed fuga, aliquam inventore aliquid voluptatibus necessitatibus nam?</p>
</body>
</html>
