{% extends "base.html" %}

{% block header %}
<h1 class="display-4">{{judul}}</h1>
<p class="lead">{{pesan}}</p>
{% endblock header %}

{% block content-1 %}
<div class="row" style="height: 400px;">
    <h1>Content1</h1>
</div>
{% endblock content-1 %}

{% block content-2 %}
<div class="row" style="height: 300px;">
    <h1>Content2</h1>
</div>
{% endblock content-2 %}