{% extends "base.html" %}
{% load static %}

{% block app_css %}
<link rel="stylesheet" type="text/css" href="{% static 'about/css/styles.css' %}">
{% endblock app_css %}

{% block header %}
<h1 class="display-4" style="margin-top: 100px;">{{judul}}</h1>
<p class="lead">{{pesan}}</p>
{% endblock header %}

{% block content-1 %}
<div class="row" style="height: 400px;">
    <h1>Content Blog</h1>
</div>
{% endblock content-1 %}

{% block content-2 %}
<div class="row bg-info" style="height: 300px;">
    <h1>Content2</h1>
</div>
{% endblock content-2 %}